#title-image{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body{
    background-color: black;
    background: url(../images/basketball-court-wood.jpg);
    background-size: cover;
}

.gameplay-column{
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px;
    background:rgb(240, 240, 240, 0.6);
}



h1{
    color: currentColor;
    font-family: 'Baloo Chettan', cursive;
    display: block;
    text-align: center;
    font-size: 100px;
}
